<ion-view view-title="Post">
  <ion-content>
  <div class="list card">
      <div class="item item-body">
        <div>
          <h2>{{post.post}}</h2>
          <h3>{{post.date | longAgo}}</h3>
        </div>
      </div>
    </div>
    <div id="commentBox">
      <h4>{{post.comments.length > 0 ? 'Add a comment!' : 'Be the first to comment!'}}</h4>
      <label class="item item-input"> 
          <textarea class="commPut" ng-keydown="buttonActivate()" placeholder="What's up?" ng-model="comment.comment"></textarea>
          </label>
          <button type="submit" ng-disabled="comment.comment.length <= 4" class="button button-block button-energized" ng-click="newComment()">Comment</button>
    </div>
    <div class="list">
      <li class="item item-text-wrap" ng-repeat="comment in post.comments" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <h2>{{comment.comment}}</h2>
        <p>{{comment.date | longAgo}}</p>
      </li>
    </div-list>

  </ion-content>
</ion-view>
